*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

div{
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid blue;
    margin: 1em;
}

a{
    text-decoration: none;
    color: blue;
}

ul{
    list-style: none;
}

span, h1, h2{
    color: blue;
}

h1, div{
    padding: 1.5em;
}

#home{
    padding: 1em;
}
