{{>partials/header}}

<hr>

    {{#passwords}}
        <div>
            <h2>{{valor}}</h2>
            <h3>{{descricao}}</h3>
            <h4>ID: {{id}}</h4>
        </div>
    {{/passwords}}

    {{#password}}
        <h2>{{valor}}</h2>
        <h3>{{descricao}}</h3>
        <h4>ID: {{id}}</h4>
    {{/password}}

{{>partials/footer}}